<!-- <div class="row"> -->
        <!-- <app-product class="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product class="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product class="col-lg-4 col-md-6 mb-4"></app-product>
        <app-product class="col-lg-4 col-md-6 mb-4"></app-product> -->

        <!-- <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
            <div class="card h-100">
                    <a href="#"><img class="card-img-top" [src]="product.img" alt=""></a>
                      <div class="card-body">
                        <h4 class="card-title">
                          <a href="#">{{product.name}}</a>
                        </h4>
                        <h5>${{product.price}}</h5>
                        <p class="card-text">{{product.desc}}</p>
                        <p class="card-text">{{product.status?"Còn Hàng":"Hết Hàng"}}</p>
                      </div>
                      <div class="card-footer">
                            <button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button> -->
                            <!-- <input type="text" name="Name" (keyup)="changeName($event)"> -->
                            <!-- <button class="btn btn-primary" (click)="showDetail(product)">Detail</button>
                            <div *ngIf="selected">    
                            <input type="text" [(ngModel)]="product.name">     -->
                        <!-- <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small> -->
                      <!-- </div>
                </div>
            </div>
  </div>
  
<div *ngIf="selected">
  <p>Chi tiết sản phẩm:</p>
  <app-product [data]="selected"></app-product>
</div> -->
<div class="example">
        <div class="container">
            <div class="row">
              <h2>Table</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Desc</th>
                            <th>Status</th>
                            <th>Img</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products">
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                            <td>{{product.desc}}</td>
                            <td>{{product.status?"Còn Hàng":"Hết Hàng"}}</td>
                            <td><a href="#"><img class="card-img-top" [src]="product.img" alt=""></a></td>
                            <td><button class="btn btn-primary" (click)="removeItem(product.id)">Delete</button></td>
                            <td><button class="btn btn-primary" routerLink="/product/{{product.id}}">Chi tiết</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         
    </div>